body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-display: swap;
  text-transform: uppercase;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.mp-reset {
  margin: 0;
  padding: 0;
}
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.title-style {
  margin: 0;
  padding: 0;
}
.link-reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff) format("woff"), url(../fonts/ptsans.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url(../fonts/ptsansbold.woff) format("woff"), url(../fonts/ptsansbold.woff2) format("woff2");
}
.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--closed .main-nav__toggle-close {
  display: none;
}
.main-nav--opened .main-nav__list {
  display: block;
}
.main-nav--opened .main-nav__toggle-close {
  display: block;
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav--nojs .main-nav__toggle-close {
  display: block;
}
.main-nav__toggle-open {
  position: absolute;
  bottom: 70px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 23px;
  height: 4px;
  background: none;
  border: none;
  background-color: #81B3D2;
  box-shadow: 0 0 0 0 #81B3D2, 0 8px 0 0 #81B3D2, 0 17px 0 0 #81B3D2;
}
.main-nav__toggle-close {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 23px;
  height: 23px;
  border: none;
  background: none;
}
.main-nav__toggle-close::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.main-nav__toggle-close::after {
  content: '';
  position: absolute;
  top: 9px;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  order: 1;
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}
.main-nav__item {
  position: relative;
  text-transform: uppercase;
  background-color: #81B3D2;
}
.main-nav__item:first-child a::before {
  content: none;
}
.main-nav__item:last-child a::after {
  content: none;
}
.main-nav__item a {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 8px 0 7px;
  text-align: center;
}
.main-nav__item a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.main-nav__item a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .main-nav__list {
    font-size: 14px;
    line-height: 26px;
  }
}
.advantages__title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__text {
  font-size: 14px;
  line-height: 26px;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages__name {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages__subname {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advntages__title {
    font-size: 21px;
  }
  .advantages__name {
    font-size: 21px;
  }
  .advantages__subname {
    font-size: 21px;
  }
}
.information__title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.information__text {
  line-height: 24px;
}
@media (min-width: 768px) {
  .information__title {
    font-size: 30px;
  }
}
.button {
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background: none;
  background-color: #81B3D2;
}
.page-footer__hashtag {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.copyright__text {
  font-weight: 400;
  line-height: 26px;
}
.photo__title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.photo__text {
  line-height: 24px;
}
.photo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.photo__item-title {
  font-size: 14px;
  line-height: 24px;
}
.photo__author {
  line-height: 24px;
}
.photo__likes {
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 768px) {
  .photo__title {
    font-size: 30px;
  }
}
.video__title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.video__text {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
  }
}
.form__title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__item-title {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__text {
  line-height: 24px;
}
.form__label {
  line-height: 26px;
}
.form__label--bold {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}
.form__input {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.form__legend {
  display: none;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 30px;
  }
  .form__item-title {
    font-size: 21px;
  }
  .form__legend {
    display: block;
    line-height: 26px;
  }
}
.page-header {
  position: relative;
  padding-bottom: 355px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.page-header::after {
  content: '';
  position: absolute;
  bottom: 86px;
  left: 50%;
  z-index: 1;
  width: 280px;
  height: 213px;
  background-image: url(../img/text-sedona-index.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.page-header__logo {
  display: block;
  margin: 0 auto;
  order: 2;
}
