.advantages {
	padding-top: 42px;
}

.advantages__title {
	.mp-reset;
	padding: 0 30px;
	margin-bottom: 29px;

	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.advantages__text {
	.mp-reset;
	padding: 0 30px;
	margin-bottom: 42px;

	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

.advantages__list {
	.list-reset;
}

.advantages__item {
	position: relative;

	padding: 29px 20px;

	text-align: center;

	background-color: #eeeeee;

	&--town {
		padding: 0;
		padding-top: 37px;

		&::before {
			content: '';

			position: absolute;
			top: -15px;
			left: 0;

			width: 100%;
			height: 15px;

			background: linear-gradient(to bottom left, transparent 49%, @blue-color 51%) left/50.5% 100% no-repeat, linear-gradient(to bottom right, transparent 49%, @blue-color 51%) right/50.5% 100% no-repeat;
		}

		& .advantages__name {
			padding: 0 20px;
		}

		& .advantages__description {
			padding: 0 20px;
			margin-bottom: 42px;
		}
	}

	&--bridge {
		padding: 41px 20px 298px 20px;

		background-image: url(../img/main-bridge-tablet@1x.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
	}

	&::after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 50%;

		width: 87.5%;
		height: 1px;

		background-color: rgba(0, 0, 0, 0.1);
		transform: translateX(-50%);
	}

	&--blue {
		background-color: @blue-color;
		color: #ffffff;

		& .advantages__description {
			color: #ffffff;
		}

		&::after {
			content: none;
		}
	}

	&:last-child {

		&::after {
			content: none;
		}
	}
}

.advantages__name {
	.mp-reset;
	margin-bottom: 11px;

	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.advantages__number {
	display: block;
	margin-bottom: 19px;
}

.advantages__description {
	.mp-reset;
	padding: 0 20px;

	color: #333333;
}

.advantages__sublist {
	.list-reset;
	padding: 286px 20px 38px;

	text-align: left;

	color: #000000;
	background-color: #ffffff;
	background-image: url(../img/main-city-tablet@1x.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
}

.advantages__subitem {
	position: relative;

	max-width: 472px;
	margin: 0 auto;

	margin-bottom: 33px;
	padding-left: 50px;
	padding-top: 11px;

	&:last-child {
		margin-bottom: 0;
	}

	&--housing {

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 37px;
			height: 36px;

			background-image: url(../img/icon-house.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&--souvenir {

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 32px;
			height: 38px;

			background-image: url(../img/icon-gift.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&--food {

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 38px;
			height: 35px;

			background-image: url(../img/icon-burger.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.advantages__subname {
	.mp-reset;
	margin-bottom: 17px;

	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.advantages__subdescription {
	.mp-reset;
}

@media (min-width: @tablet-width) {
	.advantages__title {
		padding: 0 80px;
		margin-bottom: 33px;

		font-size: 21px;
	}

	.advantages__text {
		margin-bottom: 50px;
	}

	.advantages__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.advantages__item {
		width: calc(100% / 3);
		min-height: 256px;
		padding: 47px 25px 44px;

		box-sizing: border-box;

		&--town {
			position: relative;

			width: 100%;
			padding: 0;
			padding-top: 41px;

			background-image: url(../img/main-city-tablet@1x.jpg);
			background-position: right 0;
			background-repeat: no-repeat;
			background-size: 67% auto;
			
			&::before {
				content: none;
			}
			
			& .advantages__item-wrapper {
				width: 33%;
				min-height: 215px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			& .advantages__description {
				padding: 0 45px;
			}
		}

		&--bridge {
			width: 100%;
			padding: 41px 0 42px 67%;

			background-image: url(../img/main-bridge-tablet@1x.jpg);
			background-position: left 0;
			background-size: 67% auto;
			
			& .advantages__item-wrapper {
				min-height: 173px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
				
			& .advantages__name {
				padding: 0 50px;
			}

			& .advantages__description {
				padding: 0 48px;
			}
		}

		&::after {
			content: none;
		}
	}

	.advantages__name {
		padding: 0 30px;
		margin-bottom: 12px;

		font-size: 21px;
	}

	.advantages__number {
		margin-bottom: 25px;
	}

	.advantages__sublist {
		width: 100%;
		padding: 0;
		padding-bottom: 63px;
		display: flex;
		justify-content: space-between;

		background-image: none;
	}

	.advantages__subitem {
		width: calc(100% / 3);
		.mp-reset;
		padding: 161px 47px 0;

		text-align: center;

		box-sizing: border-box;

		&--housing {

			&::before {
				top: 60px;
				left: 50%;

				width: 75px;
				height: 72px;

				transform: translateX(-50%);
			}
		}

		&--souvenir {
			order: 3;

			&::before {
				top: 60px;
				left: 50%;

				width: 63px;
				height: 75px;

				transform: translateX(-50%);
			}
		}

		&--food {

			&::before {
				top: 60px;
				left: 50%;

				width: 77px;
				height: 69px;

				transform: translateX(-50%);
			}
		}
	}

	.advantages__subname {
		font-size: 21px;
	}
}

@media (min-width: @desktop-width) {
	.advantages__item {
		
		&--town {
			background-image: url(../img/main-city-desktop@1x.jpg);
			background-position: right -72px;
		}
		
		&--bridge {
			background-image: url(../img/main-bridge-desktop@1x.jpg);
			background-position: left -72px;
		}
	}
}
