.button {
	display: block;
	
	font-family: "PT Sans Bold";
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	
	color: #ffffff;
	border: none;
	background: none;
	background-color: @blue-color;
}