.form {
	padding-top: 37px;
	padding-bottom: 47px;
}

.form__title {
	.mp-reset;
	padding: 0 20px;
	margin-bottom: 30px;

	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}


.form__text {
	.mp-reset;
	padding: 0 20px;
	margin-bottom: 17px;

	line-height: 24px;
	text-align: center;
}

.form__wrapper {
	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #e5e5e5;
	}
}

.form__group {
	position: relative;

	padding: 20px 20px 25px;

	border: none;
	box-sizing: border-box;

	&::after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #e5e5e5;
	}
}

.form__item-title {
	display: block;
	padding-top: 20px;

	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.form__contacts {

	& .form__input-wrapper {
		flex-wrap: wrap;
	}

	& .form__label {
		width: 100%;
		margin-bottom: 9px;
	}
}

.form__impression {

	& .form__label {
		margin-right: 0;
	}
}

.form__emotions {

	&::after {
		content: none;
	}
}

.form__input-wrapper {
	position: relative;

	.mp-reset;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

	&--phone {

		&::after {
			content: '';

			position: absolute;
			bottom: 0;
			right: 0;

			width: 58px;
			height: 58px;

			background-color: #e6e6e6;
			background-image: url(../img/icon-phone.svg);
			background-position: center;
			background-size: 18px;
			background-repeat: no-repeat;
		}
	}

	&--email {

		&::after {
			content: '';

			position: absolute;
			bottom: 0;
			right: 0;

			width: 58px;
			height: 58px;

			background-color: #e6e6e6;
			background-image: url(../img/icon-mail.svg);
			background-position: center;
			background-size: 16px 12px;
			background-repeat: no-repeat;
		}
	}
}

.form__label {
	position: relative;

	margin-right: 15px;

	line-height: 26px;

	&--bold {
		font-family: "PT Sans Bold";
		font-weight: 700;
		font-size: 18px;
		text-transform: none;
	}
}

.form__input {
	width: 100%;
	padding: 17px 22px 15px;

	font-size: 18px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
	border: none;
	background-color: #f2f2f2;
	box-sizing: border-box;

	&::placeholder {
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;

		color: #000000;
	}

	&--phone,
	&--email {
		padding-right: 70px;
	}

	&--radio {

		& + .form__label {
			padding: 15px 0 15px 80px;

			&::before {
				content: '';

				position: absolute;
				top: 0;
				left: 0;

				width: 56px;
				height: 56px;

				background-color: #f2f2f2;
				border-radius: 50%;
			}
		}

		&:checked + .form__label::after {
			content: '';

			position: absolute;
			top: 17px;
			left: 17px;

			width: 22px;
			height: 22px;

			background-color: #333333;
			border-radius: 50%;
		}

		&:hover,
		&:focus {

			& + .form__label {

				&::before {
					background-color: #e5e5e5;

					cursor: pointer;
				}
			}
		}

		&:active {

			& + .form__label {

				&::before {
					background-color: #d5d5d5;
				}
			}

			&:checked + .form__label::after {
				opacity: 0.3;
			}
		}
	}

	&--checkbox {

		& + .form__label {
			padding: 15px 0 15px 80px;

			&::before {
				content: '';

				position: absolute;
				top: 0;
				left: 0;

				width: 56px;
				height: 56px;

				background-color: #f2f2f2;
				border-radius: 7px;
			}
		}

		&:checked + .form__label::after {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 56px;
			height: 56px;

			background-image: url(../img/icon-tick.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 24px 16px;
		}

		&:hover,
		&:focus {

			& + .form__label {

				&::before {
					background-color: #e5e5e5;

					cursor: pointer;
				}
			}
		}

		&:active {

			&:checked + .form__label::after {
				opacity: 0.3;
				cursor: pointer;
			}
		}
	}

	&--textarea {
		height: 160px;
	}

	&:hover {
		background-color: #e5e5e5;
	}

	&:active,
	&:focus {
		padding: 13px 18px 11px;

		background-color: #ffffff;
		border: 4px solid #e5e5e5;
		outline: none;
	}
}

.form__legend {
	display: none;
}

.form__button-wrapper {
	padding: 0 20px;
}

.form__button {
	width: 100%;
	padding: 15px 20px 16px;

	box-sizing: border-box;
}

@media (min-width: @tablet-width) {
	.form {
		max-width: 960px;
		margin: 0 auto;
		padding: 72px 60px 61px;
	}

	.form__text {
		margin-bottom: 70px;
	}

	.form__wrapper {
		display: flex;
		flex-wrap: wrap;

		&::before {
			content: none;
		}
	}

	.form__group {
		width: 100%;
		max-width: 960px;
		padding: 20px 0 25px;

		&::after {
			content: none;
		}
	}

	.form__group-wrapper {
		max-width: 875px;
		padding: 0 96px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		box-sizing: border-box;
	}

	.form__impression {
		position: relative;

		width: 50%;
		margin: 0;

		order: 1;

		&::before {
			content: '';

			position: absolute;
			top: -25px;
			right: 0;

			width: 1px;
			height: 100%;

			background-color: #dbdbdb;
		}

		& .form__item-title {
			text-align: left;
		}
	}

	.form__info {
		position: relative;

		width: 50%;
		padding-left: 57px;
		padding-right: 0;
		margin: 0;

		order: 2;

		& .form__item-title {
			text-align: left;
		}
	}

	.form__contacts {
		width: 100%;
		.mp-reset;
		margin-top: 47px;

		order: 3;

		& .form__item-title {
			position: relative;

			width: 100%;
			padding-top: 0;
			margin-bottom: 27px;

			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}

			&::after {
				content: '';

				position: absolute;
				top: 50%;
				right: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}
		}

		& .form__input-wrapper {
			margin-bottom: 25px;

			&:nth-child(2n) {
				margin-left: auto;
			}
		}

		& .form__label {
			padding-left: 20px;
		}
	}

	.form__attractions {
		margin: 0;
		margin-top: 30px;

		order: 4;

		& .form__item-title {
			position: relative;

			width: 100%;
			padding: 0 185px;
			margin-bottom: 22px;

			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}

			&::after {
				content: '';

				position: absolute;
				top: 50%;
				right: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}
		}

		& .form__input-wrapper {
			width: 228px;
			margin-bottom: 32px;
		}
	}

	.form__emotions {
		order: 5;

		& .form__item-title {
			position: relative;

			width: 100%;
			padding-top: 0;
			margin-bottom: 37px;

			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}

			&::after {
				content: '';

				position: absolute;
				top: 50%;
				right: 0;

				width: 20%;
				height: 1px;

				background-color: #dbdbdb;
				transform: translateY(-50%);
			}
		}
	}

	.form__button-wrapper {
		width: 100%;
		margin-top: 33px;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		order: 6;
	}

	.form__button {
		width: 324px;
	}

	.form__legend {
		margin-left: auto;

		order: 7;
	}

	.form__title {
		font-size: 30px;
	}

	.form__item-title {
		font-size: 21px;
	}

	.form__legend {
		display: block;

		line-height: 26px;
	}
}

@media (min-width: @desktop-width) {
	.form {
		padding: 72px 60px 66px;
	}

	.form__text {
		padding: 0 260px;
		margin-bottom: 60px;
	}

	.form__impression {
		padding-left: 5px;

		& .form__item-title {
			text-align: center;
		}
	}

	.form__info {
		padding-left: 80px;

		& .form__item-title {
			text-align: center;
		}
	}

	.form__item-title {
		margin-bottom: 60px;
	}

	.form__contacts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& .form__input-wrapper {
			width: 50%;
			display: flex;
			justify-content: space-between;

			&--phone {
				width: 400px;
			}

			&:nth-child(2n) {
				margin-left: 0;
			}

			& .form__label {
				width: auto;
				.mp-reset;

				& span {
					display: none;
				}
			}

			& .form__input {
				width: 315px;
			}
		}

		& .form__item-title {
			margin-bottom: 75px;
		}
	}

	.form__attractions {
		margin-bottom: 43px;

		& .form__group-wrapper {
			max-width: 960px;
			padding: 0;
			justify-content: flex-start;
		}

		& .form__input-wrapper {
			width: 25%;
			margin-bottom: 0;
		}
	}

	.form__button {
		width: 480px;
	}
}
