.form__title {
	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.form__item-title {
	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.form__text {
	line-height: 24px;
}

.form__label {
	line-height: 26px;
	
	&--bold {
		font-family: "PT Sans Bold";
		font-weight: 700;
		font-size: 18px;
		text-transform: none;
	}
}

.form__input {
	font-size: 18px;
	line-height: 26px;
	color: #000000;
}

.form__legend {
	display: none;
}

@media (min-width: @tablet-width) {
	.form__title {
		font-size: 30px;
	}
	
	.form__item-title {
		font-size: 21px;
	}
	
	.form__legend {
		display: block;
		
		line-height: 26px;
	}
}