.information__title {
	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.information__text {
	line-height: 24px;
}

@media (min-width: @tablet-width) {
	.information__title {
		font-size: 30px;
	}
}