.page-header {
	position: relative;
	
	padding-bottom: 355px;
	
	background-image: url(../img/bg-back-mobile@1x.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	
	&::after {
		content: '';
		
		position: absolute;
		bottom: 86px;
		left: 50%;
		z-index: 1;
		
		width: 280px;
		height: 213px;
		
		background-image: url(../img/text-sedona-index.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		
		transform: translateX(-50%);
	}
}

.page-header__logo {
	display: block;
	margin: 0 auto;
	order: 2;
}