.photo__title {
	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.photo__text {
	line-height: 24px;
}

.photo__list {
	.list-reset;
}

.photo__item-title {
	font-size: 14px;
	line-height: 24px;
}

.photo__author {
	line-height: 24px;
}

.photo__likes {
	font-weight: 700;
	line-height: 24px;
}

@media (min-width: @tablet-width) {
	.photo__title  {
		font-size: 30px;
	}
}