.video__title {
	font-family: "PT Sans Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.video__text {
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: @tablet-width) {
	.video__title {
		font-size: 30px;
	}
}